<!-- 100% Box Grid Container: Start -->
<div class="grid_24">

	<!-- Info Notice: End -->

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<a name="news"></a>
		<h2 class="icon pages">Edit monitor</span></h2>
	
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content">
		
		<!-- News Table Tabs: Start -->
		<div class="tabs">
			<!-- News Sorting Table - Add News Tab: Start -->
			<div id="addnews" class="padding">
<%= render 'update_form' %>
			</div>
			<!-- News Sorting Table - Add News Tab: End -->
		
		</div>
		<!-- News Table Tabs: End -->

	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
