<h1>Forgot Your Password?</h1>

<%= form_for(:session, :url => send_password_reset_code_path) do |f| %>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>
