<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
Hi <%= @user.username %>,
<p>Thanks for joining for Yeti.</p>

<p>We like to protect your privacy. Please confirm your email address by clicking here:</p>

<p><%= @url %></p>

<p>Happy Monitoring.</p>

-- The Yeti Team
  </body>
</html>




