<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
Hi,
<p>
You requested to reset the password for your SouthMunn.com account with the e-mail address (<%= @email %>).  Please click this link to reset your password.</p>

<p><%= @url %></p>

<p>Happy Monitoring.</p>

-- The SouthMunn Team
  </body>
</html>




