<div align="center">
<h1>Yeti Login</h1>
<p>Enter the Admin username and password to login</p>
<% if flash[:notice] -%>
  <div id="notice"><%=flash[:notice] %></div>
<% end -%>
<% form_tag do %>
<fieldset>
  Username: <%= text_field_tag :name, params[:name] %> <br />
  Password: <%= password_field_tag :password, params[:password] %><br />
  
    <p><%=submit_tag "login"%></p>
  </fieldset>
<% end %>
</div>
