<h1>Payment Method</h1>

<div>
Authorize payments with Amazon Flexible Payments system <%= link_to 'here', show_path("authorize_payments", "") %>
</div>
<div>
<%= link_to 'Back', show_path("dashboard",  current_user.attributes["username"]) %>
</div>
