<!-- 100% Box Grid Container: Start -->
<div class="grid_24 left">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="time">Payment Method</h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content padding">
		
	<p>
		Authorize payments with Amazon Flexible Payments: <%= link_to 'Click here', show_path("authorize_payments", "") %>
	</p>
 
        <p>
            You need to authorize payments first before you can add monitors. At this Alpha stage you will not be charged, the service is <strong>100% FREE</strong>. But you still need to authorize payments, after the Alpha stage the service will be <strong>$0.0001</strong> each time we check your website for <strong>UPTIME</strong>. We will inform all customers multiple times before go into Beta and start charging.
        </p>
		
	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
