<h1>Editing user</h1>

<%= render 'update_form' %>

<%= link_to 'Show', show_path("users",  current_user.attributes["username"]) %> |
<%= link_to 'Back', show_path("dashboard",  current_user.attributes["username"]) %>
