<!-- 100% Box Grid Container: Start -->
<div class="grid_24 left">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="time">Sign Up</h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content padding">
      <p>Sign up and start today! Be the first to know when your website is <strong>DOWN</strong>.</p>
	<p>
		<%= render 'form' %>
	</p>
	</div>
        
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
