<!-- 100% Box Grid Container: Start -->
<div class="grid_24 left">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="icon experiment">About Us</h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content padding">
		
	<p>
		<p>SouthMunn is a Website Uptime Monitoring SASS created and maintained by <a target="_blank" href="http://obi-akubue.org">Obi Akubue</a>.</p>
<p>
Obi was one of the top developers for the <a target="_blank" href="http://en.wikipedia.org/wiki/Second_Life">SecondLife platform</a>. He ran one of the most successful businesses on the platform. This was Obi's fulltime job for a few years.</p>

<p> 
But the SecondLife platform did not live up to expectations, Obi's SecondLife business eventually crashed. After the crash, Obi moved from New York to New Jersey right across the street from South Munn Avenue. The move represented a new beginning for Obi. This new beginning was marked by the street signs of South Munn Avenue.
</p>

<p>
<img style="max-width:100%; max-height:100%;" src="//fc03.deviantart.net/fs14/f/2007/047/f/2/Street_Addiction_by_gizmodus.jpg">
Art by <a href="//gizmodus.deviantart.com/">Gizmodus</a>
</p>
	</p>
		
	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
