<!-- 100% Box Grid Container: Start -->
<div class="grid_24 left">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="icon experiment">About Us</h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content padding">
		
	<p>
		<p>SouthMunn is a Website Uptime Monitoring SASS created and maintained by <a target="_blank" href="http://obi-akubue.org">Obi Akubue</a>.</p>
<p>
Obi was one of the top developers for the SecondLife platform and ran a relatively successful business on the platform. The SecondLife platform did not live up to expectations, that business eventually crashed. After the crash, Obi moved from New York to New Jersey right across the street from South Munn Avenue. The move represented a new beginning for Obi. This new beginning was marked by the street signs of South Munn Avenue.
</p>

<p>
Picture:<br/>
Welcome to SouthMunn Ave<br/>

picture with all kinds of mysterious things
</p>
	</p>
		
	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
