<!-- 100% Box Grid Container: Start -->
<div class="grid_24 left">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="icon iphone">Contact Us</h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content padding">
		
	<p>
		If any questions please contact us by filling out the form below. Or send an email to support@southmunn.com
	</p>
             <form method="post" action="/send_contact_message" >
		<!-- Text Input: Start -->	
		<div class="field">
			<label>Your Name</label>
			<input type="text" id="name" name="name" class="big validate" required>
		</div>
                <div class="field">
			<label>Your Email</label>
			<input type="text" id="email" name="email" placeholder="me@example.com" class="big validate"  title="Please enter a valid email address" required>
                        
		</div>
		<!-- Text Input: End -->

	         <!-- WYSIWYG: Start -->	
		<div class="field">
                         <label>Your Message</label>
			 <textarea class="wysiwyg" id="message" name="message" placeholder="enter the message here..."></textarea>
		</div>
		<!-- WYSIWYG: End -->

		
			<button>Submit</button>
			<button class="secondary" type="reset">Reset</button>
		</form>
		
	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
