<!-- 100% Box Grid Container: Start -->
<div class="grid_24 left">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h1 class="time">Let Us Monitor Your Website</h1>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content padding">

         <p style="font-size: 17px;">	
          Our software will monitor your website, when your website goes down we send you an instant email alert.
        </p>

      <p style="font-size: 17px;">	
          Be the first to know when your website is down, so you fix it before anyone else finds out...
        </p>

        <h1>How it works</h1>
        <ul style="font-size: 17px;">
         <li>You add a website or url </li>
         <li>You set a time interval</li>

<li>Our software checks your website repeatly at the time interval you set (example every 5minutes)</li>

<li>During the check, if our software detects a problem with your website, it sends you an instant email alert. </li>

<li>You can add as many websites as you need to monitor, We use amazon payments, we charge $0.001 each time our software checks your website. </li>
          </ul>

<h1>Pricing</h1>
<span style="font-size: 17px;">
<div>We use a pay as you go model, each time we check your website for problems we charge $0.001. </div> 
<div>
[add a Javascript price calculator]
</div>

<div> We use Amazon payments, billed at the 1st of every month. </div>
</span>

<!--Let Saint Ruby Monitor Your Website-->
		
	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
