<!-- 100% Box Grid Container: Start -->
<div class="grid_24 left">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h1 class="time">Let Us Monitor Your Website</h1>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content padding">

       <p>	
          Be the first to know when your website is down, fix it before anyone else finds out.
        </p>

         <p>	
          Our software will monitor your website and send you an instant email alert anytime your website goes <strong>DOWN</strong>.
        </p>




        <h2>How it works</h2>
        <ul>
         <li>You add a website or url </li>
         <li>You set a time interval (example 5 minutes, 10 minutes)</li>

<li>Our software checks your website continuously at that time interval </li>

<li>During the check, if our software detects your website is <strong>DOWN</strong>, it sends you an instant email alert. </li>

<li>You will also receive an email notification when your website comes back <strong>ONLINE</strong>.

<li>You can add as many websites as you like, We charge <strong>$0.0001</strong> each time our software checks your website. The service is <strong>FREE</strong> if your monthly bill is <strong>$0.30 or less</strong>. </li>
          </ul>

<h2>Alpha Testing Phase</h2>
<p>
Our service is still in Alpha Testing Phase and for now the Service is <strong>100% FREE</strong> with no payment information required. 
</p>


<div style="padding-bottom:10px;padding-left:360px;">
  <form style="display: inline" action="/signup" method="get">
    <button>Start Now </button>
  </form>
</div>

<h2>Easy To Use Dashboard</h2>
<p>
<a target="_blank" href="/img/southmun.png"><img style="max-width:80%; max-height:80%;" src="/img/southmun.png"></a>
</p>


<h2>Pricing</h2>
<span>
<p>We use a pay as you go model, each time we check your website we charge $0.0001. The service is FREE if your monthly usage is $0.30 or less. </p> 
<p style="padding-top:10px;">
Get an estimate of what your monthly bill is going to be:
  <p>
   <strong>Number of websites to monitor:</strong>&nbsp; <span id="monitors_value">1</span><br/>
   <input id="monitors" type="range" min="1" max="150" value="1" onchange="showMonitors(this.value);showMonthlyBill();">
   <br/>
  </p>

 <p>
   <strong>Time interval of checks:</strong>&nbsp;every <span id="checks_value">5</span> minutes
   <!--<select id="interval_unit" name="create[hours]"><option value="m">minutes</option>
     <option value="h">hours</option>
     <option value="d">days</option>
   </select>-->
   <br/>
   <input id="checks" type="range" min="1" max="150" value="5" onchange="showChecks(this.value);showMonthlyBill();">
   <br/>
  </p>

  <p>
     <strong>Monthly Bill:</strong>&nbsp; $<span id="monthly_bill">0.88</span><br/>
     <br/>
 </p>


<p> We use Amazon payments, we bill on the 1st of each month. </p>

<h2>Open Source</h2>
<p>This service is powered by <a href="https://github.com/obi-a/Ragios">Saint Ruby</a>, an open source system monitoring software we are actively developing. We built this service with the Unix tool philosophy in mind "Do one thing and do it well".</p>
</span>

<!--Let Saint Ruby Monitor Your Website-->
		
	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
