<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<%=@params[:message]  %>
 <p><%=@params[:name]  %></p>
  </body>
</html>




