<!-- Footer Grid: Start -->
<div class="grid_24">

	<!-- Footer: Start -->
	<div id="footer">
		
		<p class="left">
			Copyright &#169; 2013 <a href="/">SouthMunn.com</a>. 
			Powered by <a href="https://github.com/obi-a/Ragios">Ragios</a>.
		</p>
		
		<!-- Footer Icon Navigation: Start -->
		<ul class="right">
			<li><a href="/aboutus" class="icon about tip" title="About">About</a></li>
                        <li><a href="/contact" class="icon contact tip" title="Contact">Contact</a></li>
                        <li><a href="/tos" class="icon blocks tip" title="Terms of Service">Terms of Service</a></li>
			<li><a href="/privacy" class="icon box tip" title="Privacy Policy">Privacy</a></li>
			<li><a href="/" class="icon home tip" title="Home">Home</a></li>
		</ul>
		<!--Footer Icon Navigation: End -->
		
	</div>
	<!-- Footer: End -->
	
</div>
<!-- Footer Grid: End -->
