cookies = <%= cookies[:remember_token].inspect %><br/>
signed_in? = <%= signed_in? %><br/>
current_user = <%= current_user.inspect %><br/>
remember_token = <%= remember_token.inspect %><br/>


<!-- Footer Grid: Start -->
<div class="grid_24">

	<!-- Footer: Start -->
	<div id="footer">
		
		<p class="left">
			Copyright &#169; 2012 <a href="/">SouthMunn.com</a>. 
			Powered by <a href="https://github.com/obi-a/Ragios">Ragios</a>.
		</p>
		
		<!-- Footer Icon Navigation: Start -->
		<ul class="right">
			<li><a href="#" class="icon about tip" title="About">About</a></li>
                        <li><a href="#" class="icon contact tip" title="Contact">Contact</a></li>
			<li><a href="#" class="icon support tip" title="Support">Support</a></li>
                        <li><a href="#" class="icon blocks tip" title="Terms of Service">Terms of Service</a></li>
			<li><a href="/" class="icon home tip" title="Home">Home</a></li>
		</ul>
		<!--Footer Icon Navigation: End -->
		
	</div>
	<!-- Footer: End -->
	
</div>
<!-- Footer Grid: End -->
