<header>
<nav class="round">
 <ul>
   <% if signed_in? %>
   <li><%= link_to "Profile", show_path("users",  @current_user.attributes["username"]) %></li>
   <% end %>
  <% if signed_in? %>
   <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
  <% else %>
   <li><%= link_to "Sign in", signin_path %>  </li>
 <% end %>
 <ul>
</nav>
</header>
