	<!-- Header Grid Container: Start -->
	<div class="grid_24">		
		<!-- Header: Start -->
		<div id="header">
				
			<!-- Logo: Start -->
			<span><a href="/"><img style="float:left;" src="/img/website.png"> <span style="font-family: 'Nosifer', cursive;color:#EBECED;font-size:20px;float:left;">SouthMunn.com</span><img style="float:left;" src="/img/website.png"></a></span>
			<!-- Logo: End -->
			
			<!-- Navigation: Start -->
                      <ul id="navigation" class="dropdown">
			
			<li><a class="key active" href="signin">Login</a></li>	
			
                       </ul>
			<!-- Navigation: End -->
			
		</div>
		<!-- Header: End -->
		
		
		
	</div>
	<!-- Header Grid Container: End -->

